#menuAdmin{
    width: 78%;
border-bottom: 1px solid #c3c3c3;
height: 40px;
float: left;
}

.menuAdminBtn{
height: 100%;
padding: 9px;
border-right: 1px solid #c3c3c3;
    float: left;
cursor: pointer;
}

.menuAdminBtn:hover{
background-color: #f5f5f5; 
}

#menuAdminBtnActv{
background-color: #ececec;
}

.menuAdminBtn > p{
margin: 0;
    font-size: 1.1em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
	color: #313131;

}

#infoAndBegin > h2{
    font-family: 'PT Sans', sans-serif;
    color: #505050;
    font-weight: 500;
    font-size: 1.45em;
    margin: 5px 0;;
}

#infoAndBegin > h2 > span{
font-weight: 700;
}

table{
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
}

tr{
border-bottom: 1px solid grey;
border: 1px solid grey;
}

tr:nth-child(2n+1){
background-color: #ececec;
}

tr:first-child{
border-bottom: 2px solid grey;
background-color: #e0e0e0;


}

tr:first-child > th{
    padding: 0 5px;
border: 1px solid grey;
color: #252525;
}


td{
border: 1px solid grey;
    padding: 3px;
	color: #383838;
}

/*table, th, td {
   border: 1px solid black;
}*/