#contentLog{
width: 160px;
border: 2px solid #42962d;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
}

#contentLog > form{
width: 100%;
margin: 0;
}

#contentLog > form > p{
font-family: 'PT Sans', sans-serif;
    margin: 5px 0;
    padding: 0;
    font-size: 1.1em;
    color: #484848;
	width: 100px;
}

#contentLog > form > .text{
    border: 1px solid #929292;
    width: 100%;
}

#contentLog > form > .sumbit{
border: 2px solid #42962d;
    background-color: #7bbb73;
    color: white;
    width: 75px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
	margin: 10px 0 0 0;
    float: right;
	    font-size: 0.95em;

}

#contentLog > form > .sumbit:hover{
background-color: #74d074; 
}




