#output{
    width: 100%;
}

#output > h2{
font-size: 1.15em;
margin: 0;
}

#output > p{
padding: 0;
    margin: 5px 0;
    font-size: 0.966em;
    color: #525252;
    font-family: 'PT Sans', sans-serif;
}

#output > h3{
    padding: 0;
    margin: 20px 0px 20px 0;
    font-size: 1.5em;
    color: #525252;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

#outputNext{
margin: 0 auto 0 auto;
font-size: 1.2em;
}

#outputNext:hover{
background-color: #74d074; 
}









