* {box-sizing: border-box;}

body {
background-color: white;
background-image: url('../img/bg.png');
margin: 0;
height: 100%;
}

#wrapper{
min-height: 100%;
min-width: 100%;
position: relative;
}

.EOF{
clear: both;
width: 100%;
}

#header{
width: 100%;
background-color: #f9f9f9;
background-image: url('../img/headerBg.png');
background-size: 11px;
border-bottom: 3px solid #50ab50;
position: fixed;
top: 0;
}	

#headerWrapp{
width:1220px;
margin-left: auto;
margin-right: auto;

}

#logo{
width: 50%;
float: left;
}

#logo > img{
float: left;
margin: 10px 10px 10px 0;
height: 75px
}

#logo > h3{
padding: 15px 0 0 0;
margin: 0;	
font-size: 1.75em;
font-family: 'PT Sans', sans-serif;
color: #2c752c;

}

#logo > h4{
font-size: 1.15em;
margin: 0;	
font-family: 'PT Sans', sans-serif;
    color: #84bb84;
}

#userData{
float: right;
font-family: 'PT Sans', sans-serif;
text-align: center;
width: 200px;
}

#userData > p{
margin: 0px;
font-size: 1.2em;
    margin: 14px 0 10px 0;
    color: #525252;
    font-weight: 600;
}

#userData > div{
    border: 2px solid #42962d;
    background-color: #7bbb73;
    color: white;
    margin: 0 auto;
    width: 75px;
    padding: 2px;
    text-align: center;
	cursor: pointer;
}

#userData > div:hover{
background-color: #74d074; 
}

#userData > div > p{
margin: 0;
font-size: 0.95em;
}

#content{
width: 1110px;
margin: 0 auto;
background-color: white;
min-height:100%;

padding: 95px 0 35px 0;
}

#footer{
width: 100%;
background-color: #f9f9f9;
background-image: url('../img/headerBg.png');
background-size: 11px;
border-top: 3px solid #50ab50;
position: fixed;
bottom: 0;
height: 35px;
}	

#footerWrapp{
width:1220px;
margin-left: auto;
margin-right: auto;
height: 100%;
}

#footerWrapp > p{
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color: #676565;
}