

#directoryTree{
width: 22%;
height: 600px;
float: left;
box-shadow: 0px 1px 6px #c8c8c8;
overflow: hidden;
margin-bottom: 15px;
}

#directoryTree > div{
overflow: auto;
height: 100%;
width: 200%;
}

#directoryTree > div > h1{
text-transform: uppercase;
font-family: 'Roboto Condensed', sans-serif;
color: grey;
font-size: 1.8em;
padding: 15px 50% 0px 5px;
margin: 0;
}

#directoryTree > div > ol{
list-style: none;
margin: 0;
padding: 0 0 0 5px;
}

#directoryTree > div > ol > li{
font-family: 'Roboto Condensed', sans-serif;
font-size: 1em;
color: grey;
padding: 2px 0px;
cursor: pointer;
}

#directoryTree > div > ol > li:hover{
color: #47ad58;
}

#directoryTree > div > ol > li > ul{
list-style: none;
margin: 0;
padding: 0;
display: none;
}

#directoryTree > div > ol > li > ul > li{
font-size: 0.9em;
color: grey;
padding: 0 50% 0 9px;
cursor: pointer;
background-image:url(../img/dzewko.png);
background-repeat: no-repeat;
background-position: left;
}

#directoryTree > div > ol > li > ul > li:hover{
color: #47ad58;
}

#directoryTree > div > ol > li > ul > li:last-child{
background-image:url(../img/dzewko-ostatnie.png);
}

#infoAndBegin{
width: 78%;
    float: right;
    padding: 0 10px;
	
}

#infoAndBegin > h2{
font-family: 'PT Sans', sans-serif;
    color: #8ac189;
}

#infoAndBegin > p{
font-family: 'PT Sans', sans-serif; /*ta czcionnka?*/
color: #3c3b3b;

}

#startButton{
    border: 2px solid #42962d;
    background-color: #7bbb73;
    color: white;
    text-align: center;
	cursor: pointer;
	
	margin: 15px auto;

    padding: 8px;
    width: 150px;
}

#startButton:hover{
background-color: #74d074; 
}

#startButton > h4{
  font-size: 1.2em;
font-family: 'PT Sans', sans-serif;
margin: 0;
}

#startButton > p{
  font-size: 0.7em;
font-family: 'PT Sans', sans-serif;
margin: 0;
}
